<div class="jumbotron">
  <h1>Railsquare</h1>
  <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
  <%= link_to 'New Venue', new_venue_path, class: 'btn btn-lg btn-success', role: 'button' %>
</div>
<div class="row marketing venues">
  <div class="col-lg-6">
  	<% Venue.find_each do |venue| %>
	    <h4><%= link_to venue.name, venue_path(venue) %></h4>
	    <p><%= venue.address %></p>
	  <% end %>
  </div>
</div>
